
# =========================
# Application
# =========================
PORT=3000
NODE_ENV=development

# =========================
# Database (PostgreSQL)
# =========================
# Conexão usada pelo Prisma
DATABASE_URL="postgresql://postgres:root@localhost:5432/payment?schema=public"

# =========================
# RabbitMQ (Mensageria)
# =========================
RABBITMQ_USER=admin
RABBITMQ_PASS=123456

# URL completa usada pelo ClientProxy (publisher)
RABBITMQ_URL=amqp://admin:123456@localhost:5672

# Fila utilizada para comunicação com o notification-service
RABBITMQ_QUEUE=notification
