# =========================
# Application
# =========================
PORT=3001
NODE_ENV=development

# =========================
# RabbitMQ (Mensageria)
# =========================
# URL completa do broker (como o serviço roda local, use localhost)
RABBITMQ_URL=amqp://admin:123456@localhost:5672

# Nome da fila consumida pelo notification-service
RABBITMQ_QUEUE=notification
